<div class="jumbotron clearix" id="mainjumbo">
  <h1>Mystery Puzzle</h1>
  <h2>final page</h2>
  #if($solvePuzzle)
    <h2>You guessed right!!</h2>
  #else
    <h2>you guessed wrong</h2>
  #end
</div>
